/* body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.card {
  border: 1px solid hsl(0, 4%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  background-color: white; /* Optional */
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: blueviolet;
}

.card .card-text {
  font-family: Arial, sans-serif;
  color: rgb(53, 46, 34);
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
